html, body {
	width: 100%;
	height: 100%;
}
h1{
	color:white;
	font-family: 'Kefa', arial, sans-serif;
}
p, h1#clock{
	font-family: 'Kefa', arial, sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
	color:white;
	text-align: center;
}
.grid-item2, .grid-item3, .grid-item4, .grid-item5{
	background-color: black;
	background: rgba(0, 0, 0, 0.5)
}
h1#title{
	font-size: 3em;
	text-align: center;
}
h1#clock{
	font-size: 2.5em;
}
p#dag{
	font-size: 2.5em;
}
p#datum{
	font-size: 2.5em;
}
p#weer{
	font-size: 2.5em;
}
#spacelogo{
	width: 40vw;
	height: auto;
	margin:2vw;
}
@media only screen and (min-width: 834px) and (max-width:1279px){
}
@media only screen and (min-width: 1280px) and (max-width:1919px){

	h1{
		color:white;
		font-family: 'Kefa', arial, sans-serif;
	}
	p, h1#clock{
		font-family: 'Kefa', arial, sans-serif;
		margin-top: 1em;
		margin-bottom: 1em;
		color:white;
		text-align: center;
	}
	.grid-item2, .grid-item3, .grid-item4, .grid-item5{
		background-color: black;
		background: rgba(0, 0, 0, 0.5)
	}
	h1#title{
		font-size: 3em;
		text-align: center;
	}
	h1#clock{
		font-size: 2.5em;
	}
	p#dag{
		font-size: 2.5em;
	}
	p#datum{
		font-size: 2.5em;
	}
	p#weer{
		font-size: 2.5em;
	}
	#spacelogo{
		width: 40vw;
		height: auto;
		margin:2vw;
	}
}
@media only screen and (min-width: 1920px) {
	p{
		margin-left: 8vw;
		font-size: 2.5em;
	}
}
