.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;

  grid-template-areas:
  "logo"
  "title"
  "tijd"
  "dag"
  "datum"
  "weericon"
  "weer";

  margin-bottom: 10vw;
}
body{
  margin: 0;
  padding: 0;
}
.grid-itemlogo{
  grid-area:logo;
}
.grid-itemtitle{
  grid-area:title;
  margin-left: 5vw;
  margin-right: 5vw;
}
.grid-item1{
  grid-area:weericon;
  margin-left: 5vw;
  margin-right: 5vw;
}
.grid-item2{
  grid-area:weer;
  margin-left: 15vw;
  margin-right: 15vw;
  /* height:15vh; */
}
.grid-item3{
  grid-area:tijd;
  margin-left: 15vw;
  margin-right: 15vw;
  /* height:15vh; */
}
.grid-item4{
  grid-area:dag;
  margin-left: 15vw;
  margin-right: 15vw;
  /* height:15vh; */
}
.grid-item5{
  grid-area:datum;
  margin-left: 15vw;
  margin-right: 15vw;
  /* height:15vh; */
}

/* tablet */
@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "logo title"
    "weericon weer"
    "tijd tijd"
    "dag datum";

  }
  /* het weer */
  .grid-item2{
      display: block;
      margin-top:19vw;
      margin-bottom: auto;
      width:auto;
      margin-left: -15vw;
      margin-left: 9vw;
  }
  /* de tijd */
  .grid-item3{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
  }
  /* de dag */
  .grid-item4{
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top:8vw;
  }
  /* de datum */
  .grid-item5{
    grid-area:datum;
    margin-left: -7vw;
    margin-right: 10vw;
    margin-top:8vw;
  }
}

/* kleine desktop */
@media only screen and (min-width: 1280px) and (max-width:1919px){
  .grid-container {
       display: grid;
       grid-gap:1vw;
       grid-template-columns: 1fr 1fr;

       grid-template-areas:
       "logo title"
       "weericon weer"
       "tijd tijd"
       "dag datum";

     }
     /* het weer */
     .grid-item2{
         display: block;
         margin-top:6vw;
         margin-bottom: auto;
         width:auto;
         margin-right: 6vw;
         margin-left: -19vw;
         margin-left: 1vw;
     }
     /* de tijd */
     .grid-item3{
       margin-left: 35vw;
       margin-right: 35vw;
       margin-top: -2vw;
       margin-bottom: -2vw;
     }
     /* de dag */
     .grid-item4{
       margin-left: 15vw;
       margin-right: 13vw;
       margin-top:8vw;
     }
     /* de datum */
     .grid-item5{
       grid-area:datum;
       margin-left: 7vw;
       margin-right: 10vw;
       margin-top:8vw;
     }
}

/* grote desktop */
@media only screen and (min-width: 1920px) {
  .grid-container {
     display: grid;
     grid-gap:3vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "logo title"
     "weericon weer"
     "tijd tijd"
     "dag datum";

   }
   /* het weer */
   .grid-item2{
       display: block;
       margin-top:6vw;
       margin-bottom: auto;
       width:auto;
       margin-left: -15vw;
       margin-left: -10vw;
       margin-right: 6vw;
   }
   /* de tijd */
   .grid-item3{
     margin-left: 35vw;
     margin-right: 35vw;
     margin-top: -5vw;
     margin-bottom: -2vw;
   }
   /* de dag */
   .grid-item4{
     margin-left: 15vw;
     margin-right: 13vw;
     margin-top:3vw;
   }
   /* de datum */
   .grid-item5{
     grid-area:datum;
     margin-left: 7vw;
     margin-right: 10vw;
     margin-top:3vw;
   }

}
