.grid-container{
  display: grid;
  grid-gap: 3.6vw;
  grid-template-columns:1fr;

  /* grid-template-areas:
  "weericon"
  "weer"
  "uur"
  "mins"
  "sec"
  "dag"
  "datum"; */

  grid-template-areas:
  "weericon"
  "weer"
  "tijd"
  "dag"
  "datum";

}
body{
  margin: 0;
  padding: 0;
}
.grid-item1{
  grid-area:weericon;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 4vw;
}
.grid-item2{
  grid-area:weer;
  background-color: pink;
  margin-left: 3vw;
  margin-right: 3vw;
}
.grid-item3{
  grid-area:tijd;
  background-color: pink;
  margin-left: 3vw;
  margin-right: 3vw;
}
.grid-item4{
  grid-area:dag;
  background-color: pink;
  margin-left: 3vw;
  margin-right: 3vw;
}
.grid-item5{
  grid-area:datum;
  background-color: pink;
  margin-left: 3vw;
  margin-right: 3vw;
}

@media only screen and (min-width: 834px) and (max-width:1279px){
 .grid-container {
    display: grid;
    grid-gap:3vw;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "weericon weericon"
    "weer weer"
    "tijd tijd"
    "dag datum";
  }
  .grid-item2{
      margin-top: 0vw;
  }
}
@media only screen and (min-width: 1280px) and (max-width:1919px){
  .grid-container {
       display: grid;
       grid-gap:3vw;
       grid-template-columns: 1fr 1fr;

       grid-template-areas:
       "weericon weer"
       "tijd tijd"
       "dag datum";
     }
     .grid-item2{
         margin-top: 4vw;
     }

}
@media only screen and (min-width: 1920px) {
  .grid-container {
     display: grid;
     grid-gap:3vw;
     grid-template-columns: 1fr 1fr;

     grid-template-areas:
     "weericon weer"
     "tijd tijd"
     "dag datum";
   }
   .grid-item2{
       margin-top: 4vw;
   }

}
